<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
    <link rel="stylesheet" href="/edit.css" />
  </head>
  <body>
    <div class="container">
      <h3>
        This chat is sent from <span class="bold"><%= chat.from %></span> to
        <span class="bold"><%= chat.to %></span>
      </h3>

      <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <label for="message">Message:</label>
        <textarea name="message" id="message"><%= chat.message %></textarea>
        <button type="submit" class="edit-btn">Edit Message</button>
      </form>
    </div>
  </body>
</html>
